<!--            🔻継承-->
{% extends 'base.html' %}

{% block header %}
<div class="bg-light p-3 p-sm-5 mb-4 border-top">
    <div class="container">
      <h1 class="display-4">Todolist</h1>
      <p class="lead">Todolistを作って毎日を効率的に過ごしましょう</p>
      <hr class="my-4">
      
    </div>
  </div>
  <div class="container mt-2">
    
  </div>
{% endblock %}

{% block content %}
<div class='container'>
        <!--                 🔻createviewの場合データの番号はいらない　-->
        <a href="{% url 'create' %}" class="btn btn-info" tabindex="-1" role="button" 
        aria-disabled="true">新規作成</a>
    {% for item in object_list %}
    <!--     secondary削除　djangoのデータのタグを入れる 色と紐づけることでそれぞれの色が変わる modelsで追記 -->
    <div class="alert alert-{{ item.priority }}" role="alert">
        <!--                        🔻 期日の見た目-->
         <p>{{ item.title }} 期日：{{ item.duedate }}</p>
         <!--　🔻djangoのタグ ''によってどのurlか指定 (reverseと同じイメージ)     classはbootstrapからcopy必要のないものを削除-->
         <a href="{% url 'update' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
                 <!--    🔺何番目のデータなのか指定する必要がある itemはfor文で回して取り出したデータをurlに渡す　それをpkで何番目か指定した -->
         <a href="{% url 'delete' item.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">削除</a>
         <a href="{% url 'detail' item.pk %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">詳細</a>

    </div>


{% endfor %}
</div>
{% endblock content %}
